 /*
 #body {
	background-color: purple;
	text-align: center;
	overflow: hidden;
}

.dash-background {
	background-color: white;
	width: 80vw;
	height: 80vh;
	border-radius: 5%;
	border: 1px solid grey;
	margin: 10%;
}
.dash-background:after {
	display: block;
}

header {
	background-color: lightgrey;
	text-align: center;
	padding: 20px; 
}

.navbar {
	overflow: hidden;
	background-color: purple;
	padding: 1%;
	border-spacing: 20px;
	margin-left: 8%;
}

.navbar .tablinks {
	float: left;
	display: block;
	color: purple;
	text-align: center;
	padding: 1%;
	text-decoration: none;
	border-radius: 15%;
	background-color: white;
	margin-left: 1%;
	margin-right: 1%;
	box-shadow: 0 5px darkgrey;
}
.navbar .tablinks:hover {
	background-color: grey;
	box-shadow: 0 1px darkgrey;
}


.tabcontent {
	height: 80vh;
	width: 90%;
	background-color: white;
	border-radius: 5%;
	margin: auto;
	box-shadow:  .5em .5em darkgrey;
	overflow: scroll;
}
*/
@font-face {
font-family: 'Montserrat', sans-serif;
}

.brand-logo {
	margin-left: 1%;
}

.test {
	height: 5000px;
}

.container{
	position: relative;
	top: 50%;
}

.navbar-fixed {
	margin-bottom: 5%;
}

.float {
	position: fixed;
	top: 85%;
	left: 5%;
}
#add-button {
	background-color: #4e2a84;
}

.nav-wrapper {
	background-color: #2a847b;
}
.nav-content {
	background-color: #2a847b;
	
}