/*
Nu purple:  #4e2a84
#2a847b - green
#842a33 - red
*/

body {
  font-family: 'Montserrat', sans-serif;
}

.nav-wrapper {
  background-color: #2a847b;
}

.brand-logo {
  margin: 0% 5%;
}

.float {
	position: fixed;
	top: 15%;
	left: 3%;
}

#arrow-back {
  background-color: #4e2a84;
}


.sell-titles {
  font-size: 36px;
  color: #4e2a84;
  text-align: center;
}

h5 {
  color: #2a847b;
}

h2, label {
  color: #4e2a84;
}

#button-center {
  text-align: center;
  margin: 10% 0%;
}

a { color: inherit; }

#upload-image {
    margin: 0px;
}
