body {
  font-family: 'Montserrat', sans-serif;
}

.brand-logo {
  margin: 0% 5%;
}

#landing-titles {
  color: #4e2a84;
  text-align: center;
  padding-bottom: 5%;
}

#landing-titles p {
  font-size: 1.2em;
}

.button-center {
  text-align: center;
}
.btn {
  width: 100%;
}

.center-login {
  text-align: center;
}

.nav-wrapper {
  background-color: #2a847b;
}
