@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
body {
  font-family: 'Montserrat', sans-serif;
}

.brand-logo {
  margin-left: 1%;
}

nav {
  background-color: #2a847b;
}

.nav_extended, .nav-wrapper {
  background-color: #2a847b;
}

#search_nav {
  background-color: #644593;
  width: 50%;
  margin-left: 25%;
}

.container {
  width: 85%;
}

.table_of_textbooks {
  overflow: scroll;
  text-align: center;
}

#filter {
  /*border: 1px solid #2a847b;*/
  margin-top: 2%;
}

#filter label {
  display: block;
}

#price_wrap {
  width: 40%;
  float: left;
  margin-right: 5%;
}

.inline {
  display: inline-block;
}

#range-field {
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
}

#myTable tr {
  display: none;
}

#apply_filter {
  text-align: center;
}

#apply_filter button {
  margin: 0% 0% 70% 60%;
}

.book-title-link {
  color: #4e2a84;
}
