body {
font-family: 'Montserrat', sans-serif;
}

.brand-logo {
	margin-left: 1%;
}

.test {
	height: 5000px;
}

.navbar-fixed {
	margin-bottom: 5%;
}

#add-textbook {
	position: fixed;
	top: 20%;
	left: 1%;
	width: 13%;
	border-radius: 30px;
	color: white;
}

#add-textbook-icon {
	background-color: #4e2a84;
	padding: 3px;
}

#add-text {
	display: block;
	padding: 8% 0% 0% 0%;
}

#plus {
	padding: 8% 0% 8% 8%;
}


#defaultOpen {
	color: white;
}

#top-book {
	margin-top: 2%;
}

#add-textbook {
	background-color: #7A5FA3;
}

#new-tab {
	background-color: #A795C2;
	width: 100%;
}


.nav-wrapper {
	background-color: #2a847b;
}
.nav-content {
	background-color: #2a847b;
}

.book {
	width: 100%;
	height: 20vh;
	border: .5px solid grey;
	margin-bottom: 2.5%;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
}

.textbook-image {
	height: 350px;
}
