body {
font-family: 'Montserrat', sans-serif;
}

.container {
	width: 70%;
}

.brand-logo {
	margin-left: 1%;
}

.test {
	height: 5000px;
}

.navbar-fixed {
	margin-bottom: 5%;
}

#defaultOpen {
	color: white;
}

#add-wrapper {
	margin-top: 1%;
	display: inline;
}

#add-rapper a {
	width: 100%;
}

#add-textbook-text {
	text-align: left;
	width: 100%;
}

#add-button {
	background-color: #4e2a84;
	border-radius: 25px;
	font-size: 10px;
	margin-left: 1%;
}

.nav-wrapper {
	background-color: #2a847b;
}
.nav-content {
	background-color: #2a847b;
}

.textbook-image {
	height: 325px;
}


.wrap1 {
	justify-content: space-between;
}
.wrap2 {
	float: left;
}

#form {
	padding-left: 2.5%;
	width: 50%;
}
#book {
	padding-right: 2.5%;
}

#buttons{
	display: inline-block;
	width: 50%;
}

.edit {
	color: white;
}

.card-content {
	height: 150px;
}

.card-action {
	height: 50px;
	display: inline-block;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	color: #2a847b;
}

.sold {
	color: #4e2a84;
}

.edit, .sold, .delete {
	display: inline;
}

.edit, .sold {
	margin-bottom: 5px;
}
