body {
font-family: 'Montserrat', sans-serif;
}

.container {
	width: 70%;
}

.brand-logo {
	margin-left: 1%;
}

.navbar-fixed {
	margin-bottom: 5%;
}

#defaultOpen {
	color: white;
}

#add-wrapper {
	margin-top: 1%;
	display: inline;
}

#add-rapper a {
	width: 100%;
}

#add-textbook-text {
	text-align: left;
	width: 100%;
}

#add-button {
	background-color: #4e2a84;
	border-radius: 25px;
	font-size: 10px;
  margin-left: 1%;
}

.nav-wrapper {
	background-color: #2a847b;
}
.nav-content {
	background-color: #2a847b;
}

.textbook-image {
	height: 325px;
}

.card {
	height: 450px;
}

.wrap1 {
	justify-content: space-between;
}
.wrap2 {
	float: left;
}
#form {
	padding-left: 2.5%;
	width: 50%;
}
#book {
	padding-right: 2.5%;
}
#delete {
	background-color: #e84855;
}
#buttons{
	display: inline-block;
	width: 50%;
}
